packages:
  yum:
    google-chrome-stable: []

container_commands:
  01_install_chromedriver:
    command: |
      wget https://chromedriver.storage.googleapis.com/2.41/chromedriver_linux64.zip
      unzip chromedriver_linux64.zip
      sudo mv chromedriver /usr/bin/chromedriver
      sudo chown root:root /usr/bin/chromedriver
      sudo chmod 0755 /usr/bin/chromedriver
