files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_build_app.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      cd /var/app/current/src/jobpost/scraper
      sudo npm i -g chromedriver
      sudo npm install chromedriver --chromedriver-force-download
      chmod +x chromedriver
      