<div id="mainWrap">
    <div class="container-md" id="aboutContainer">
        <p id="intro">개발자들은 채용 공고를 읽을 때 무엇보다 <b>기술 스택</b>(그리고 연봉…!)이 알맞는 공고를 찾기를 희망합니다.
            <br><br>
            하지만, 현재 공고 사이트에는 기술 스택으로 분류해 볼 수 없으니 개발자를 위해 편리하게 기술 스택으로 현재 공고를 분리하여 볼 수 있게 제공합니다.
        </p>

        <h1>팀 소개</h1>
        <a title="JobFit 기획안" href="https://wheat-baker-241.notion.site/JobFit-7dc48ce92bb94a6d9cb5db185484483b"
            target="_blank" rel="noopener noreferrer">
            <img src="https://cdn.iconscout.com/icon/free/png-256/notion-2296040-1911999.png?f=webp&w=256"
                style="height:100px;">
        </a>
        <a title="JobFit 깃허브" href="https://github.com/jbae9/job-fit/" target="_blank" rel="noopener noreferrer">
            <img src="https://cdn.iconscout.com/icon/free/png-256/github-1521500-1288242.png" style="height:100px;">
        </a>

        <div id="members">
            <div class="member">
                <h2>길재형</h2>
            </div>
            <div class="member">
                <!-- <img class="memberImg"
                    src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/3362e4f1-6043-41de-a5f0-a122cb1e07b9/KakaoTalk_20221014_180701326.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20230321%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230321T111007Z&X-Amz-Expires=86400&X-Amz-Signature=0dc326bd73eabe18be1e82a8d10887585d4b72740817d0c7ff6cea4da2cfda9a&X-Amz-SignedHeaders=host&response-content-disposition=filename%3D%22KakaoTalk_20221014_180701326.jpg%22&x-id=GetObject"> -->
                <h2>박현민</h2>
            </div>
            <div class="member">
                <h2>배진영</h2>
            </div>
        </div>

        <h1>다른 채용 공고 사이트도 많은데 JobFit은 어떻게 차별되나요?</h1>
        <p>사람인, 인크루트, 워크넷 등 모든 업종이 있는 채용 공고 사이트는 IT 업계 별로 여러 기술 스택으로 검색해보기 어렵습니다. 점핏과 Wanted 같은 개발자 전용 채용 사이트는 기술 스택 등으로
            검색은 용이하지만, 공고 폭이 매우 쫍아서 검색도 용이하고 공고량도 많은 통합 IT 채용 공고 검색 사이트를 만들고자 합니다.</p>

        <h1>어떤 사이트에서 공고를 불러오나요?</h1>
        <p>현재는 사람인, 프로그래머스와 원티드 채용공고 사이트에서 공고를 불러오고 있습니다.</p>

        <h1>공고 목록은 언제 업데이트 되나요?</h1>
        <p>공고 목록은 매일 새벽 ㅇㅇ시에 새로운 공고로 업데이트 됩니다.</p>

        <h1>추천 공고는 어떻게 추천되나요?</h1>
        <p>공고는 현재 유저의 기술 스택, 주소, 찜한 공고의 키워드, 연봉과 회사의 평균 연봉에 비중을 줘서 추천이 됩니다.
            <br>
            유저 피드백을 통해서 추천되는 비중을 수정할 수 있습니다 (예: 나와 가까운 공고들이 더 추천되었으면 좋겠어요!).
        </p>
    </div>
</div>