<div class="about-wrap">
    <div class="about-container">
        <div class="about-title">Welcome to JOBFIT</div>
        <div class="about-intro">
            개발자들은 취업을 위해 자신의 기술 스택에 맞는 채용공고를 찾기를
            희망합니다. <br />
            우리의 서비스는 회원의 기술 스택과 여러 정보를 바탕으로,<br />
            추천 알고리즘을 통해 채용공고를 효과적으로 제공합니다.
        </div>

        <div class="qna">
            <div class="qna-title">
                다른 채용 공고 사이트도 많은데, JobFit은 어떻게 차별되나요?
            </div>
            <div class="qna-content">
                사람인, 인크루트, 워크넷과 같이 모든 업종이 있는 채용 공고
                사이트는 IT업종 별로 여러 기술 스택으로 검색해보기 어렵습니다.
                <br />
                점핏과 원티드, 프로그래머스와 같은 개발자 전용 채용 사이트는
                기술 스택 등으로 검색은 용이하지만 공고 폭이 매우 좁습니다.
                <br />
                검색도 용이하고 공고량도 많은 통합 IT채용 공고 검색 사이트를
                만들고자 합니다.
                <br />
                그리고, 회원의 기술 스택과 여러 정보를 바탕으로 채용공고를 추천
                받을 수 있습니다.
            </div>
            <div class="qna-title">어떤 사이트에서 공고를 불러오나요?</div>
            <div class="qna-content">
                현재는 사람인, 원티드, 프로그래머스의 채용공고를 불러오고
                있습니다.
            </div>
            <div class="qna-title">공고 목록은 언제 업데이트 되나요?</div>
            <div class="qna-content">
                공고 목록은 매일 새벽 4~5시에 새로운 공고로 업데이트 됩니다.
            </div>
            <div class="qna-title">추천 채용공고는 어떻게 추천되나요?</div>
            <div class="qna-content">
                회원의 선호 기술 스택, 주소, 찜한 공고의 키워드와 연봉, 회사의
                평균 연봉에
                <br />
                각각 다른 비중을 두고 종합 점수를 계산하여 추천됩니다.
                <br />
                회원의 피드백을 통해서 추천 기준들의 비중을 수정할 수 있습니다.
                <br />
                ex) 나와 가까운 공고들이 더 추천되었으면 좋겠어요!
            </div>
        </div>

        <div class="develop">
            <div class="develop-title">DEVELOP</div>
            <div class="develop-content">
                <a
                    title="JobFit 기획안"
                    href="https://wheat-baker-241.notion.site/JobFit-7dc48ce92bb94a6d9cb5db185484483b"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        src="https://user-images.githubusercontent.com/111232061/226879852-00ff3075-bd3d-4772-a796-adcfa8b2197f.png"
                        style="height: 100px"
                    />
                </a>
                <a
                    title="JobFit 깃허브"
                    href="https://github.com/jbae9/job-fit/"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        src="https://cdn.iconscout.com/icon/free/png-256/github-1521500-1288242.png"
                        style="height: 100px"
                    />
                </a>
            </div>
        </div>
    </div>
</div>
