<head>
    <link rel="stylesheet" href="/css/modal.css" />
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
        integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <!-- modal -->
    <%-include('modal.ejs')%>
</body>
<script type="text/javascript">
    let refresh = 1
    modalOpen(`<%= message %>`, `<%= href %>`)
</script>