<footer>
    <div class="footer-wrap">
        <div class="footer-link">
            <a href="https://github.com/jbae9/job-fit" target="_blank">
                <img
                    src="https://img.icons8.com/ios-glyphs/240/ffffff/github.png"
                />
            </a>
            <a
                href="https://wheat-baker-241.notion.site/JobFit-7dc48ce92bb94a6d9cb5db185484483b"
                target="_blank"
                ><img
                    src="https://img.icons8.com/glyph-neue/256/ffffff/notion.png"
                />
            </a>
        </div>
        <div class="footer-info">
            <ul>
                <li>
                    <a href="#">HOME</a>
                </li>
                <li>
                    <a href="/about">ABOUT</a>
                </li>
                <li>
                    <a href="/jobposts?sort=recent&order=desc"
                        >채용공고 전체보기</a
                    >
                </li>
            </ul>
        </div>
        <div class="footer-copyright">
            &copy; 2023 JOBFIT. All Rights Reserved.
        </div>
    </div>
</footer>
