<footer>
	<div class="footer-content">
		<h3>jobfit</h3>
		<p>스파르타코딩클럽<br> 내일배움캠프 4기 - B반 1조<br>팀원: 배진영 박현민 길재형</p>
		<p>이메일: contact@teamsparta.co</p>
	</div>
	<div class="footer-bottom">
		<p>copyright &copy;2023 jobfit. desinged by <span>jobfit</span></p>
	</div>
</footer>