<footer>
    <div class="footer-top">
        <div class="footer-content">
            <div class="footer-team">
                <div class="footer-logo">
                    <img src="/images/logo.png" />
                </div>
                <div class="footer-team-desc">스파르타코딩클럽</div>
                <div class="footer-team-desc">내일배움캠프</div>
                <div class="footer-team-desc">NODEJS B반 챌린지팀</div>
            </div>
            <div class="footer-info">
                <div class="footer-title">Contact</div>
                <div class="footer-member-info">
                    <a href="https://github.com/Mrgil0" target="_blank">
                        <img
                            src="https://cdn.iconscout.com/icon/free/png-256/github-1521500-1288242.png"
                        />
                    </a>
                    길재형
                </div>
                <div class="footer-member-info">
                    <a href="https://github.com/jbae9" target="_blank">
                        <img
                            src="https://cdn.iconscout.com/icon/free/png-256/github-1521500-1288242.png"
                        />
                    </a>
                    배진영
                </div>
                <div class="footer-member-info">
                    <a href="https://github.com/ParkAsher" target="_blank">
                        <img
                            src="https://cdn.iconscout.com/icon/free/png-256/github-1521500-1288242.png"
                        />
                    </a>
                    박현민
                </div>
            </div>
            <div class="footer-develop">
                <div class="footer-title">Develop</div>
                <div class="footer-develop-info">
                    <a
                        href="https://github.com/jbae9/job-fit/"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            src="https://cdn.iconscout.com/icon/free/png-256/github-1521500-1288242.png"
                        />
                    </a>
                    Github
                </div>
                <div class="footer-develop-info">
                    <a
                        href="https://wheat-baker-241.notion.site/JobFit-7dc48ce92bb94a6d9cb5db185484483b"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            src="https://user-images.githubusercontent.com/111232061/226879852-00ff3075-bd3d-4772-a796-adcfa8b2197f.png"
                        />
                    </a>
                    Notion
                </div>
                <div class="footer-develop-info">
                    <a
                        href="https://forms.gle/rUWjExMw3B8AAjFJ9"
                        target="_blank"
                    >
                        <span class="material-symbols-outlined"
                            >comment</span
                        ></a
                    >
                    피드백
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 jobfit. desinged by <span>jobfit</span></p>
    </div>
</footer>
