<div class="header">
    <div class="header-wrap">
        <div class="header-logo-wrap">
            <a class="logo" href="/"><img src="/images/logo.png" /></a>
        </div>
        <div class="input-group m-2" id="searchBar">
            <input type="text" class="form-control" id="searchInput" placeholder="검색" aria-label="검색"
                aria-describedby="button-addon2" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="searchButton"
                    onclick="search($('#searchInput').val())">
                    <span class="material-icons"> search </span>
                </button>
            </div>
        </div>
        <% if (!user) { %>
            <div class="header-menu-wrap">
                <ul>
                    <li>
                        <a class="login-link" href="/login">로그인</a>
                    </li>
                </ul>
            </div>
            <% } else { %>
                <div class="header-menu-wrap">
                    <ul>
                        <li>
                            <a class="login-link" href="/mypage">마이페이지</a>
                        </li>
                        <li>
                            <button type="button" class="logout-btn" onclick="logout()">
                                로그아웃
                            </button>
                        </li>
                    </ul>
                </div>
                <% } %>
    </div>
</div>

<script>
    let refresh = 1
    function logout() {
        axios
            .post('/api/user/logout')
            .then((res) => {
                url = '/'
                modalOpen(res.data.message)
            })
            .catch((err) => {
                url = '/'
                modalOpen(err.response.data.message)
            })
    }

    const input = document.getElementById('searchInput')
    input.addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
            search($('#searchInput').val())
        }
    })

    function search(input) {
        let url = new URL(window.location.href)
        let newUrl = new URL(window.location.origin + '/jobposts')
        if (url.searchParams.get('sort') === null) {
            newUrl.searchParams.set('sort', 'recent')
        } else {
            newUrl.searchParams.set('sort', url.searchParams.get('sort'))
        }

        if (url.searchParams.get('order') === null) {
            newUrl.searchParams.set('order', 'desc')
        } else {
            newUrl.searchParams.set('order', url.searchParams.get('order'))
        }

        newUrl.searchParams.set('search', input)

        window.location.href = newUrl
    }
</script>