<div class="container-md" id="mainContainer">
    <div class="order">
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" id="currentOrder">
            </button>
            <ul class="dropdown-menu">
                <% if (!user) { %>
                    <li title="기술스택에 딱 맞는 현재 공고를 보고싶으면 로그인해주세요!"><a class="dropdown-item disabled"
                            href="/jobposts?order=recent-desc">추천순</a></li>
                    <% } else { %>
                        <li><a class="dropdown-item" href="/jobposts?order=recent-desc" id="recommend">추천순</a></li>
                        <% } %>
                            <li><a class="dropdown-item" href="/jobposts?order=recent-desc" id="recent">최신순</a></li>
                            <li><a class="dropdown-item" href="/jobposts?order=popular-desc" id="popular">인기순</a></li>
                            <li><a class="dropdown-item" href="/jobposts?order=ending-asc" id="ending">마감순</a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        let url = new URL(window.location.href)
        let sort = url.searchParams.get('sort') || 'recent'
        let order = url.searchParams.get('order') || 'desc'
        let limit = url.searchParams.get('limit')
        let offset = url.searchParams.get('offset')

        switch (sort) {
            case 'popular':
                $('#currentOrder').html('인기순')
                $('#popular').addClass('active')
                break
            case 'ending':
                $('#currentOrder').html('마감순')
                $('#ending').addClass('active')
                break
            case 'recent':
            case 'recommended':
            default:
                $('#currentOrder').html('최신순')
                $('#recent').addClass('active')
                break
        }

        $.ajax({
            type: "GET",
            url: `/api/jobpost/filter?sort=${sort}&order=${order}`,
            async: false,
            success: function (response) {
                showJobposts(response)
            }
        })

    })

    function showJobposts(response) {
        const row = 4
        const col = 4

        for (let i = 0; i < row; i++) {
            let tempHtml = `<div class="row row-cols-1 row-cols-md-4 g-4">`
            for (let j = 0; j < col; j++) {
                const title = response[i + j].title
                const companyName = response[i + j].company_name
                const jobpostImgUrl = response[i + j].original_img_url
                const addressUpper = response[i + j].address_upper
                const addressLower = response[i + j].address_lower
                const stackImgUrlArr = response[i + j].stackimgurls.split(',')
                const stackArr = response[i + j].stacks.split(',')

                let deadlineDtm
                if (response[i + j].deadline_dtm) {
                    const date = new Date(response[i + j].deadline_dtm)
                    deadlineDtm = date.toLocaleDateString('ko-KR', { dateStyle: 'long' })
                } else {
                    deadlineDtm = '상시 채용'
                }

                tempHtml += `<div class="col">
                                        <div class="card">
                                            <span class="material-symbols-outlined likeIcon">
                                                star
                                            </span>
                                            <img src="${jobpostImgUrl}"
                                                class="card-img-top" alt="${companyName}" title="${companyName}">
                                            <div class="card-body">
                                                <h5 class="card-title">${title}</h5>
                                                <p class="card-text companyName">
                                                    ${companyName}
                                                </p>
                                                <div class="card-text row">
                                                    <div class="col">
                                                        <span class="material-symbols-outlined">
                                                            work
                                                        </span>
                                                        신입
                                                    </div>
                                                    <div class="col-8">
                                                        <span class="material-symbols-outlined">
                                                            location_on
                                                        </span>
                                                        ${addressUpper} ${addressLower}
                                                    </div>
                                                    <div class="col-8">
                                                        <span class="material-symbols-outlined">
                                                            calendar_month
                                                        </span>
                                                        ${deadlineDtm}
                                                    </div>
                                                </div>
                                                <p class="card-text">

                                                </p>
                                                <p class="card-text">
                                                    `

                for (let j = 0; j < stackImgUrlArr.length; j++) {
                    const imgTag = `<img src="${stackImgUrlArr[j]}" alt="${stackArr[j]}" title="${stackArr[j]}">`
                    tempHtml += imgTag
                }

                tempHtml += `              </p>
                                            </div>
                                        </div>
                                    </div>`
            }
            tempHtml += `</div>`
            $('#mainContainer').append(tempHtml)
            tempHtml = ``
        }
    }
</script>