<!-- <div class="login-wrap">
    <h1>로그인</h1>
    <p class="muted">로그인하고 내 기술스택에 딱 맞는 공고를 추천 받으세요!</p>
</div>

<div class="login-wrap">
    <a href="/api/user/auth/kakao"
        ><img src="/images/kakao_login_medium_narrow.png"
    /></a>
    <div class="login-form-wrap">
        <a href="/api/user/auth/kakao">카카오 로그인</a>
    </div>
</div> -->

<div class="login-title-wrap">
    <div class="login-title-img-wrap">
        <img src="/images/logo.png" />
    </div>
    <div>
        <p class="muted">
            로그인하고 내 기술스택에 딱 맞는 공고를 추천 받으세요!
        </p>
    </div>
</div>
<div class="login-form-wrap">
    <div class="login-form">
        <div class="login-form-title">
            <p>로그인</p>
        </div>
        <div class="login-form-content">
            <a href="/api/user/auth/kakao">
                <img src="/images/kakao_login_medium_narrow.png" />
            </a>
        </div>
    </div>
</div>
