<div class="container-md" id="mainContainer">
    메인

    <% if (user) { %>
        <div>
            <div class="mainHeader">
                <h1>💖 <%- user.nickname %> 님을 위한 추천 공고</h1>
                <a href="">
                    <p>추천 공고 전체보기 →</p>
                </a>
            </div>
            <div id="carouselRecommended" class="carousel carousel-dark slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            <div class="col">
                                <div class="card">
                                    <img src="https://grepp-programmers.s3.amazonaws.com/production/company/logo/724/hwahae_new.png"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">DevOps Engineer</h5>
                                        <p class="card-text">
                                            버드뷰
                                        </p>
                                        <div class="card-text row">
                                            <div class="col">
                                                <span class="material-symbols-outlined">
                                                    work
                                                </span>
                                                신입
                                            </div>
                                            <div class="col-8">
                                                <span class="material-symbols-outlined">
                                                    location_on
                                                </span>
                                                서울시 동작구
                                            </div>
                                        </div>
                                        <p class="card-text">

                                        </p>
                                        <p class="card-text">
                                            <img src="https://static.codenary.co.kr/framework_logo/javascript.png">
                                            <img src="https://static.codenary.co.kr/framework_logo/nodejs.png">
                                            <img src="https://static.codenary.co.kr/framework_logo/typescript.png">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="https://grepp-programmers.s3.amazonaws.com/production/company/logo/1148/logo_closed_v.png"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Computer Vision Engineer - Visual SLAM(전문연구요원 편입 가능)</h5>
                                        <p class="card-text">
                                            뉴빌리티
                                        </p>
                                        <div class="card-text row">
                                            <div class="col">
                                                <span class="material-symbols-outlined">
                                                    work
                                                </span>
                                                신입
                                            </div>
                                            <div class="col-8">
                                                <span class="material-symbols-outlined">
                                                    location_on
                                                </span>
                                                서울시 동작구
                                            </div>
                                        </div>
                                        <p class="card-text">

                                        </p>
                                        <p class="card-text">
                                            <img src="https://static.codenary.co.kr/framework_logo/javascript.png">
                                            <img src="https://static.codenary.co.kr/framework_logo/nodejs.png">
                                            <img src="https://static.codenary.co.kr/framework_logo/typescript.png">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="https://grepp-programmers.s3.amazonaws.com/production/company/logo/5691/DRIMAES_LOGO_300x97_RGB.png"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">소프트웨어 형상 관리자 / DevOPs (Software Configuration Management)
                                        </h5>
                                        <p class="card-text">
                                            뉴빌리티
                                        </p>
                                        <div class="card-text row">
                                            <div class="col">
                                                <span class="material-symbols-outlined">
                                                    work
                                                </span>
                                                신입
                                            </div>
                                            <div class="col-8">
                                                <span class="material-symbols-outlined">
                                                    location_on
                                                </span>
                                                충청북도 뭐뭐시
                                            </div>
                                        </div>
                                        <p class="card-text">

                                        </p>
                                        <p class="card-text">
                                            <img src="https://static.codenary.co.kr/framework_logo/javascript.png">
                                            <img src="https://static.codenary.co.kr/framework_logo/nodejs.png">
                                            <img src="https://static.codenary.co.kr/framework_logo/typescript.png">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a
                                            natural lead-in
                                            to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            <div class="col">
                                <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">공고 제목</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a
                                            natural lead-in
                                            to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a
                                            natural lead-in
                                            to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a
                                            natural lead-in
                                            to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a
                                            natural lead-in
                                            to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            <div class="col">
                                <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">공고 제목</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a
                                            natural lead-in
                                            to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a
                                            natural lead-in
                                            to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a
                                            natural lead-in
                                            to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a
                                            natural lead-in
                                            to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselRecommended"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselRecommended"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <% } %>

            <div class="mainHeader">
                <h1>🔥 관심 주목! 인기 공고</h1>
                <a href="/jobposts?sort=popular&order=desc">
                    <p>인기순 공고 전체보기 →</p>
                </a>
            </div>
            <div id="carouselPopular" class="carousel carousel-dark slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-4 g-4" id="carouselPopular1"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-4 g-4" id="carouselPopular2"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-4 g-4" id="carouselPopular3"></div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselPopular"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">이전</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselPopular"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">다음</span>
                </button>
            </div>


            <div class="mainHeader">
                <h1>✨ 따뜬따뜬한 최신 공고</h1>
                <a href="/jobposts?sort=recent&order=desc">
                    <p>최신순 공고 전체보기 →</p>
                </a>
            </div>
            <div id="carouselRecent" class="carousel carousel-dark slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-4 g-4" id="carouselRecent1"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-4 g-4" id="carouselRecent2"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-4 g-4" id="carouselRecent3"></div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselRecent"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">이전</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselRecent"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">다음</span>
                </button>
            </div>

            <div class="mainHeader">
                <h1>⏰ 곧 마감하는 공고</h1>
            </div>
            <div id="carouselEnding" class="carousel carousel-dark slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-4 g-4" id="carouselEnding1"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-4 g-4" id="carouselEnding2"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-4 g-4" id="carouselEnding3"></div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselEnding"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">이전</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselEnding"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">다음</span>
                </button>
            </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '/api/jobpost/filter?sort=recent&order=desc&limit=12',
            async: false,
            success: function (response) {
                console.log(response)
                showCarouselJobposts('carouselRecent', response)
            }
        })

        $.ajax({
            type: "GET",
            url: '/api/jobpost/filter?sort=popular&order=desc&limit=12',
            async: false,
            success: function (response) {
                showCarouselJobposts('carouselPopular', response)
            }
        })

        $.ajax({
            type: "GET",
            url: '/api/jobpost/filter?sort=ending&order=asc&limit=12',
            async: false,
            success: function (response) {
                console.log(response)
                showCarouselJobposts('carouselEnding', response)
            }
        })
    })

    function showCarouselJobposts(carouselId, response) {
        for (let i = 0; i < 12; i++) {
            const jobpostId = response[i].jobpost_id
            const title = response[i].title
            const companyName = response[i].company_name
            const jobpostImgUrl = response[i].original_img_url
            const addressUpper = response[i].address_upper
            const addressLower = response[i].address_lower
            const stackImgUrlArr = response[i].stackimgurls === null ? null : response[i].stackimgurls.split(',')
            const stackArr = response[i].stacks === null ? null : response[i].stacks.split(',')
            const likedUsers = response[i].likedUsers
            let likedSpan = `<span class="material-symbols-outlined likeIcon" id="${jobpostId}">
                                star
                            </span>`

            if (likedUsers) {
                for (const user of likedUsers) {
                    if (user === '<%- user.userId %>') {
                        likedSpan = `<span class="material-symbols-outlined likeIcon" style="color:#FFEA00" id="${jobpostId}">
                                        star
                                    </span>`
                    }
                }
            }
            let deadlineDtm
            if (response[i].deadline_dtm) {
                const date = new Date(response[i].deadline_dtm)
                deadlineDtm = date.toLocaleDateString('ko-KR', { dateStyle: 'long' })
            } else {
                deadlineDtm = '상시 채용'
            }

            let tempHtml = `<div class="col">
                                        <div class="card">
                                            <%if(user) {%>
                                            <a style="cursor:pointer" onclick="postLike(<%-(user.userId)%>, ${jobpostId})">
                                                ${likedSpan}
                                            </a>
                                            <% }else { %>
                                            <span class="material-symbols-outlined likeIcon">
                                                star
                                            </span>
                                            <% } %>
                                            <img src="${jobpostImgUrl}"
                                                class="card-img-top" alt="${companyName}" title="${companyName}">
                                            <div class="card-body">
                                                <h5 class="card-title">${title}</h5>
                                                <p class="card-text companyName">
                                                    ${companyName}
                                                </p>
                                                <div class="card-text row">
                                                    <div class="col">
                                                        <a class="card-col">
                                                        <span class="material-symbols-outlined">
                                                            work
                                                        </span>
                                                        신입
                                                        </a>
                                                    </div>
                                                    <div class="col-8">
                                                        <a class="card-col">
                                                        <span class="material-symbols-outlined">
                                                            location_on
                                                        </span>
                                                        ${addressUpper} ${addressLower}
                                                        </a>
                                                    </div>
                                                    <div class="col-8">
                                                        <a class="card-col">
                                                        <span class="material-symbols-outlined">
                                                            calendar_month
                                                        </span>
                                                        ${deadlineDtm}
                                                        </a>
                                                    </div>
                                                </div>
                                                <p class="card-text">

                                                </p>
                                                <p class="card-text">
                                                    `

            if (stackImgUrlArr !== null) {
                for (let j = 0; j < stackImgUrlArr.length; j++) {
                    const imgTag = `<img src="${stackImgUrlArr[j]}" alt="${stackArr[j]}" title="${stackArr[j]}">`
                    tempHtml += imgTag
                }
            }

            tempHtml += `              </p>
                                            </div>
                                        </div>
                                    </div>`

            const carouselNum = Math.floor(i / 4) + 1
            $(`#${carouselId}${carouselNum}`).append(tempHtml)
        }
    }
    function postLike(userId, jobpostId) {
        $.ajax({
            type: "POST",
            url: '/api/jobpost/like',
            async: false,
            data: { "userId": userId, "jobpostId": jobpostId },
            success: function (response) {
                if (response['message'] === 'success') {
                    let starTag = $(`#${jobpostId}`)
                    if (starTag.css('color') === 'rgb(255, 234, 0)') {
                        starTag.css('color', 'rgba(69, 87, 117, 0.8)')
                    } else {
                        starTag.css('color', '#FFEA00')
                    }
                }
            }
        })
    }
</script>