<div id="modal" class="modal-overlay">
	<div class="modal-window">
		<div class="title">
			<h2>알림</h2>
		</div>
		<div class="close-area" id="closeBtn">X</div>
		<div class="content">
			<p id="context"></p>
		</div>
		<center>
			<button id="modalClose" class="modalClose" type="button" onclick="modalClose()">확인</button>
		</center>
	</div>
</div>