<div class="mypage-wrap">
    <div class="mypage-container">
        <div class="mypage-category-wrap">
            <div class="mypage-category-container">
                <div class="mypage-category">
                    <a href="/mypage/myinfo">내 정보 관리</a>
                </div>
                <div class="mypage-category">
                    <a href="/mypage/likes">찜 목록</a>
                </div>
            </div>
        </div>
        <% if (subComponents === 'myinfo') { %> <%- include('myinfo.ejs') %> <%
        } %>
        <% if (subComponents === 'mylikes') { %> <%- include('mylikes.ejs') %> <% } %>
    </div>
</div>
