@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none !important;
    color: #000000 !important;
}
