.jobpost-detail-wrap {
    width: 100%;
    min-height: 100vh;
    background-color: #f9fafb;
    padding: 2rem 0;

    display: flex;
    justify-content: center;
}

.jobpost-detail-container-wrap {
    width: 1200px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.jobpost-detail-container {
    flex-basis: 70%;

    display: flex;
    flex-direction: column;
}

.jobpost-detail-company-wrap {
    flex-grow: 1;
}

.jobpost-detail-content-title-wrap {
    width: 100%;
    border: 0.75px solid #bfc0c0;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 2rem;

    display: flex;
    gap: 2rem;
}

.jobpost-detail-content-title-image {
    flex-basis: 10rem;
}

.jobpost-detail-content-title-image img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}

.jobpost-detail-content-title-desc {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.jobpost-detail-content-title {
    font-size: 2rem;
    font-weight: bold;
}

.jobpost-detail-content-company-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: gray;
}

.jobpost-detail-content-address {
    display: flex;
    align-items: center;
    color: gray;
    gap: 0.5rem;
}

.jobpost-detail-content-deadline {
    display: flex;
    align-items: center;
    color: gray;
    gap: 0.5rem;
}

.jobpost-detail-content-stacks {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.jobpost-detail-content-stacks img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

.jobpost-detail-content-wrap {
    width: 100%;
    border: 0.75px solid #bfc0c0;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 1rem;
}
