.jobpost-detail-wrap {
    width: 100%;
    min-height: 100vh;
    background-color: #f9fafb;
    padding: 2rem 0;

    display: flex;
    justify-content: center;
}

.jobpost-detail-container-wrap {
    width: 1200px;

    display: grid;
    gap: 2rem;
    grid-template-columns: 7fr 3fr;
}

.jobpost-detail-container {
    display: flex;
    flex-direction: column;
}

.jobpost-detail-content-title-wrap {
    width: 100%;
    border: 0.75px solid #bfc0c0;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 2rem;

    display: flex;
    gap: 2rem;
}

.jobpost-detail-content-title-image {
    flex-basis: 10rem;

    position: relative;
}

.jobpost-detail-content-title-image img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}

.jobpost-detail-content-title-desc {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.jobpost-detail-content-title {
    font-size: 2rem;
    font-weight: bold;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.detail-like-icon {
    font-size: 2rem;
}

.jobpost-detail-content-company-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: gray;
}

.jobpost-detail-content-address {
    display: flex;
    align-items: center;
    color: gray;
    gap: 0.5rem;
}

.jobpost-detail-content-deadline {
    display: flex;
    align-items: center;
    color: gray;
    gap: 0.5rem;
}

.jobpost-detail-content-stacks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.jobpost-detail-content-stacks img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

.jobpost-detail-content-wrap {
    width: 100%;
    border: 0.75px solid #bfc0c0;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 1rem;
}

.jobpost-detail-company-container {
    width: 100%;
}

.jobpost-detail-company-wrap {
    width: 100%;

    border: 0.75px solid #bfc0c0;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.jobpost-detail-company-image {
    width: 100%;
}

.jobpost-detail-company-image img {
    width: 100%;
    height: 15rem;
    object-fit: contain;
    border: 0.75px solid lightgray;
    border-radius: 10px;
    padding: 1rem;
}

.jobpost-detail-company-name {
    font-size: 1.5rem;
    color: gray;
    font-weight: bold;
}

.jobpost-detail-company-name a {
    font-size: 1.5rem;
    color: gray !important;
    font-weight: bold;
}

.jobpost-detail-company-name a:hover {
    color: #bfc0c0 !important;
}

.jobpost-detail-company-employees,
.jobpost-detail-company-representative-name,
.jobpost-detail-company-founded-year,
.jobpost-detail-company-avg-salary {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;

    font-size: 1.125rem;
}

.material-symbols-outlined {
    font-size: 1.125re;
}

.symbols-name {
    color: gray;
}

.company-data {
    color: #98a8b9;
}

.jobpost-link {
    width: 100%;
}

.jobpost-link-btn {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #f0723d;
    border-radius: 10px;
    padding: 1.25rem;
    font-size: 1.25rem;
}
