footer {
    position: absolute;
    background: #2d3142;
    height: auto;
    width: 100%;
    color: #fcfeff;
    bottom: auto;

    display: flex;
    justify-content: center;

    padding: 2rem 0;
}

.footer-wrap {
    width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-link {
    width: 100%;
    padding: 1rem 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-link img {
    width: 3rem;
    height: 3rem;
}

.footer-info {
    width: 100%;
    padding: 1rem 0;

    display: flex;
    justify-content: center;
}

.footer-info ul {
    display: flex;
    flex-wrap: wrap;
}

.footer-info ul li {
    padding: 0 0.5rem;
    border-right: 0.5px solid #ffffff;
    box-sizing: border-box;
}

.footer-info ul li:last-child {
    border: none;
}

.footer-info ul li a {
    color: #ffffff !important;
}

.footer-copyright {
    width: 100%;
}
