.header {
    width: 100%;
    height: 64px;
    padding: 0.5rem 0;

    display: flex;
    justify-content: center;

    border-bottom: 1px solid rgb(228, 228, 228);
}

.header-wrap {
    width: 1200px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-wrap {
    height: 100%;

    display: flex;
    align-items: center;
}

.header-logo-wrap img {
    object-fit: cover;
    height: 100%;
}

.header-menu-wrap {
    display: flex;
    align-items: center;
}

.header-menu-wrap ul {
    display: flex;
}

.header-menu-wrap ul li {
    padding: 0 12px;
}

.about-link {
    font-weight: bold;
    font-size: 15px;
}

.login-link {
    font-weight: bold;
    font-size: 15px;
}

.logout-btn {
    border: none;
    background: none;
    font-size: 15px;
    font-weight: bold;
}

@media (max-width: 1060px) {
    .header-wrap {
        width: 100%;
        padding: 0 1rem;
    }
}

.form-control {
    border-color: rgb(69, 87, 117, 0.3);
}

.form-control:focus {
    border-color: rgb(69, 87, 117, 0.3);
    box-shadow: 0 0 0 0.2rem rgb(69, 87, 117, 0.3);
}

#searchBar {
    max-width: 30%;
}

#searchInput {
    border-right: none;
}

#searchButton {
    border-left: none;
    border-color: rgb(69, 87, 117, 0.3);
    border-radius: 0 6px 6px 0;
    --bs-btn-hover-bg: none;
}

.material-icons {
    color: #f0723d;
}
