.dropdown-item {
    color: rgb(69, 87, 117) !important;
    padding-bottom: 8px;
}

.dropdown-item.active {
    background-color: rgb(240, 115, 61, 0.9);
    color: white !important;
}

.dropdown-item.disabled {
    background-color: rgb(69, 87, 117, 0.2) !important;
}

#keyword-card .row {
    align-items: center;
    padding: 10px;
}

#keyword-card {
    color: rgb(69, 87, 117)
}

#resetButton {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48;
    color: rgb(206, 0, 0);
    font-size: 25px;
    position: absolute;
    right: 0;
    padding: 0 10px;
}

.filterButton {
    border-radius: 50px;
    width: auto;
    --bs-btn-active-bg: rgb(240, 115, 61, 0.9) !important;
    --bs-btn-hover-bg: rgb(240, 115, 61, 0.9) !important;
    --bs-btn-hover-border-color: rgb(240, 115, 61, 0.9) !important;
}

.filterButton .active {
    color: white
}