.login-title-wrap {
    width: 100%;
    padding: 5rem 0 2.5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.login-form-wrap {
    width: 100%;
    padding: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 40rem;
    padding: 2rem 0;

    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.login-form-title {
    width: 100%;
}

.login-form-title p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.muted {
    color: gray;
}
