.carousel-control-prev,
.carousel-control-next {
    justify-content: none;
    width: auto;
}

.carousel-inner {
    padding: 0 30px;
    min-height: 300px;
    position: relative;
}

.carousel {
    margin: 1.5rem 0 5rem;
}

.mainHeader {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.mainHeader p {
    display: flex;
    justify-content: right;
    align-items: center;
    color: #f0723d;
    font-family: 'EliceDigitalBaeum-Bd';
}

.container-fluid {
    position: relative;
    min-height: 1130px;
}

#mainContainer {
    min-height: 1130px;
}

.main-wrap {
    width: 100%;
    background-color: #f9fafb;

    min-height: auto;
    padding: 2rem 0;
}

#recommendedHeader {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.main-recommendation-warning {
    display: flex;
    align-items: center;
    font-weight: bold !important;
}

.carousel-control-next {
    right: -25px;
}

.carousel-control-prev {
    left: -25px;
}