#modal.modal-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0 !important;
    z-index: 1001;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
    background: white;
    box-shadow: 0 8px 32px 0 rgba(85, 83, 82, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    width: 400px;
    height: auto;
    position: relative;
    padding: 10px;
}

#modal .title {
    padding-left: 10px;
    display: flex;
    text-shadow: 1px 1px 2px gray;
    justify-content: space-between;
    align-items: center;
}

#modal .title h2 {
    display: inline;
    color: black;
}

#modal .close-area {
    display: flex;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
}

#modal .close-area span {
    color: rgb(190, 1, 1);
    font-size: 24px;
}

#modal .content {
    color: black;
    text-align: center;
}

.modalClose {
    margin-top: 15px;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: rgb(45 104 255);
    transition-duration: 0.4s;
    color: white !important;
}

.modalClose:hover {
    background: rgb(0, 71, 250) !important;
}