#modal.modal-overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0 !important;
	z-index: 1001;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
	background: #455755;
	box-shadow: 0 8px 32px 0 rgba(85, 83, 82, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.18);
	width: 400px;
	height: auto;
	position: relative;
	padding: 10px;
}

#modal .title {
	padding-left: 10px;
	display: inline;
	text-shadow: 1px 1px 2px gray;
	color: #BFC0C0;

}

#modal .title h2 {
	display: inline;
	color: #BFC0C0;
}

#modal .close-area {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
	color: #BFC0C0;
}

#modal .content {
	text-shadow: 1px 1px 2px gray;
	color: #BFC0C0;
	text-align: center;
}

.modalClose {
	margin-top: 10px;
	padding: 5px 10px;
	text-align: center;
	border: 2px solid gray;
	border-radius: 5px;
	background-color: rgb(245, 237, 231);
}